{%- comment -%}V4.6.0 - November 2022
This file is system-genererated by Discount Ninja and should not be modified or stored in a source control system.
Do not modify or remove this snippet, we reserve the right to overwrite it at any moment to add improvements or new features so that customizations you made might be lost.
{%- endcomment -%}

<script type="text/template" id="limoniapps-discountninja-badge-template">
	<div class="limoniapps-discountninja-badge [[DASH]] [[SIZE]] [[POSITION]]" dir="ltr" data-style="[[STYLE]]" data-token="[[TOKEN]]">
		<div class="limoniapps-discountninja-badge-inner">
			<div class="limoniapps-discountninja-badge-inner-border">[[TEXT]]</div>
		</div>
	</div>
</script>