<div class="container-fluid">
	<div class="row">
		<div class="col-12 col-lg-6">
			<div class="row content-image-slider-modal">
				<div class="col-12 col-lg-4 pe-lg-0 content-slider-nav d-none d-lg-block">
					<div class="qv-images-thumbnail"></div>
				</div>
				<div class="col-12 col-lg-8 ps-lg-0 content-slider-for">
					<div class="qv-product-images qv-images-for"></div>
				</div>
			</div>
		</div>
		<div class="col-12 col-lg-6">
			<div class="qv-content row">
				<div class="holder col-12">
					<div class="row">
						<div class="col-12">
							<h3 class="qv-product-title"></h3>
						</div>
					{% comment %}	<div class="col-12">
							<h4 class="qv-product-type"></h4>
						</div>{% endcomment %}
						<div class="col-12">
							<h5 class="qv-product-price"></h5>
						</div>
						<div class="col-12">
							<h5 class="qv-product-original-price"></h5>
						</div>
						{% comment %}<div class="col-12">
							<div class="qv-add-to-cart">
								<div class="qv-product-options"></div>
								<div class="quantity">
									<span>Quantity</span>
									<input type="number" class="qv-quantity" value="1" min="1">
								</div>
								<input type="submit" class="qv-add-button" value="Add to Cart">
								<div class="qv-add-to-cart-response"></div>
							</div>
						</div>{% endcomment %}
						<div class="col-12">
							<div class="qv-product-description"></div>
						</div>
					{% comment %}	<div class="col-12">
							<a class="view-product" href=""><span>View Full Product Details</span></a>
						</div>{% endcomment %}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
