.section-imagen-texto-boton{
  padding: 30px 0;
}
.section-imagen-texto-boton .content-description-block{
  font-family: 'Circular Std Book';
  margin-top: 40px;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.35px;
  max-width: 500px;
}
.section-imagen-texto-boton .content-button-block{
  font-family: 'Raleway-Light';
  text-transform: uppercase;
  cursor: pointer;
  font-size: 13px;
  line-height: 15px;
  margin-top: 40px;
}
.section-imagen-texto-boton .content-button-block span{
  border-bottom: 1px solid #000;
  padding-bottom: 2px;
}
.section-imagen-texto-boton .form-puntos-venta{
  margin-top: 40px;
}
@media (min-width: 576px) {
  .section-imagen-texto-boton{
    padding: 60px 0;
  }
  .section-imagen-texto-boton .content-description-block{
    margin-top: 65px;
  }
}
@media (min-width: 992px) {
  .section-imagen-texto-boton{
    padding: 80px 0;
  }
}
