{% section 'collection-header' %}
<div id="CollectionAjaxResult" class="collection-content">
	<div class="container-fluid p-0">
		<div class="row m-0" id="CollectionAjaxContent">
			<div class="col-12 p-0">
				<div class="grid">
					<div class="grid__item medium-up--one-fifth grid__item--sidebar">
						{% section 'collection-sidebar' %}
					</div>
					<div class="grid__item medium-up--four-fifths grid__item--content">
						{% section 'collection-promotions' %}
						<div class="collection-grid__wrapper">
							{% section 'collection-template' %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
