{% section 'index-slider-yakampot' %}
<div class="section-content-description-parallax">
	{% section 'text-pride' %}
	{% section 'section-about-images' %}
	{% section 'only-text-button' %}
	{% section 'banner-image' %}
	{% section 'text-pride-2' %}
	{% section 'product-1-slider' %}
	{% section 'only-text-button-2' %}
	{% section 'pride-people' %}
</div>